/* app/assets/stylesheets/users.scss */
.container-profil {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.left-column, .middle-column, .right-column {
  background-color: #f7f7f7;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.profile img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.sports, .palmares, .teams, .sport, .palmares-item, .team {
  margin-bottom: 10px;
}

.team img {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  margin-right: 10px;
}
