<h2>Mes équipes</h2>

<ul class="list-unstyled">
  <% @chatrooms.each do |chatroom| %>
    <li class="mb-3">
      <strong>Nom de l'équipe:</strong> <%= link_to chatroom.team.name, chatroom_path(chatroom) %><br>
    </li>
  <% end %>
</ul>
