.chatroom {
  background: white;
  margin-top: 9px;
  height: calc(100vh - 75px); /* Adjust based on your header/footer height */
  display: flex;
  flex-direction: column;

  h1 {
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
    padding: 1rem;
  }

  .messages {
    flex-grow: 1;
    overflow-y: auto; /* Enable vertical scroll */
    padding: 1rem;
    background: #f9f9f9;
    max-height: calc(100vh - 200px); /* Adjust based on your header/footer and form height */
  }

  .chat-form {
    border-top: 1px solid #ccc;
    padding: 1rem;
    background: #fff;
    display: flex;
    align-items: center;
  }

  .form-group {
    margin-bottom: 0;
  }

  .form-control {
    border-radius: 20px;
    padding: 0.75rem 1rem;
    border: 1px solid #ccc;
  }

  .btn {
    border-radius: 20px;
    padding: 0.5rem 1rem;
  }

  .ml-3 {
    margin-left: 1rem !important;
  }
}
